#perilous-writing-progress-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: hsl(0deg 0% 95%);
}

#perilous-writing-progress-bar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 8px;
}

#perilous-writing-progress-bar-bar {
  background-color: var(--color-purple);
  height: 100%;
  width: 100%;
  transition: background-color 200ms ease-in;
}
